.main {
	flex: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: var(--third-color);
}
.main > * {
	width: 100%;
}
/* .main__container {} */
/* .main__body {} */
@media screen and (min-width: 1001px) {
	/* var(--max-width) + 1px */
	.main__body {
		max-width: 70%;
		margin: 0 auto;
	}
}
.main__form {
	transform: translate(0, -10vh);
}
.main__title {
	font-size: var(--lg-size);
	text-align: center;
	color: var(--secondary-dark-color);
}
/* .main__list {} */
/* .main__footer {} */
